$breakpoint1: 600px;
$breakpoint2: 982px;

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.open {
  .mask {
    display: initial;
  }
  .hamburger {
    z-index: 30;
    span {
      transition: all 0.5s;
      background-color: #fff;
        &:first-child {
          transform: translateY(13px) rotate(-315deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          transform: translateY(-13px) rotate(315deg);
        }
    }
  }
  nav {
    left: 0;
    opacity: 1;
  }
}

.hamburger {
  // display: block;
  position: fixed;
  // top: 20px;
  right: 40px;
  z-index: 10;
  span {
    display: block;
    height: 3px;
    width: 35px;
    background-color: black;
    margin-bottom: 10px;
    transition: all 0.5s;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
  padding-left: 20px;
}

nav {
  width: 300px;
  height: 100%;

  position: fixed;
  top: 0;
  left: -500px;
  color: white;
  background-color: black;
  z-index: 30;
  opacity: 0;
  transition: 0.5s;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .menu {
    margin-top: 50px;
    margin-bottom: 50px;
    ul {
      padding: 0;
      margin: 0 20px;
      }
    li {
      border-bottom: solid 1px white;
      padding: 10px 20px;
      &:first-child {
        border-top: solid 1px white;
      }
    }
  }
  .sns {
    li {
      font-size: 0.75rem;
      padding-bottom: 10px;
    }
  }
}

.mask {
  display: none;
  background-color: black;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

// main
#video {
  margin-bottom: 50px;
  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

#pickup {
  margin-bottom: 50px;
  h1 {
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    li {
      padding: 0 10px;
    }
  }
}

#feature {
  max-width: 1240px;
  margin: 0 auto 50px auto;

  h1 {
    text-align: center;
  }
  ul {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 0;
    margin: 10px;
    li {
      transition: all 0.3s ease;
      box-shadow: 0 0 8px 4px #ccc;
    }

    .item-text {
      height: 200px;
      padding: 0 10px;
      p {
        padding: 10px 0;
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

@mixin formstyle {
  width: 100%;
  background-color: white;
  border-style: none;
}

#contact {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  background-color: black;
  h1 {
    text-align: center;
    margin-bottom: 50px;
  }
  .contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
  }
  .descriptions  {
    P  {
      padding-bottom: 30px;
    }
  }
  .forms {
    ul {
      padding: 0;
    }
    li {
      margin-bottom: 20px
    }
    #name {
      @include formstyle;
      height: 40px;
    }
    #email {
      @include formstyle;
      height: 40px;
    }

    #message {
      @include formstyle;
      height: 80px;
    }
    .button  {
      display: block;
      background-color: black;
      input {
        width: 100%;
        color: white;
        border: 1px solid #fff;
        background-color: black;
        padding: 15px 0;
      }
    }
  }
}

footer {
  color: white;
  background-color: black;
  padding: 10px 20px;
}

@media screen and (min-width: $breakpoint1) {
  #contact {
    margin: 0 auto;
    .contents {
      flex-direction: row;
      max-width: 1240px;
    }
    .descriptions {
      width: 48%;
    }
    .forms  {
      width: 48%;
      .button  {
        display: block;
        background-color: black;
        input {
          width: 200px;
          padding: 15px 0;
        }
      }
    }
 }

  footer {
    text-align: center;
  }
}