@use 'variables';

// sass 辞書loop
@each $key, $val in variables.$colors {
    // 変数名をセレクターに埋め込むとき: #{$変数名} とする
    .text-#{$key} {
        color: $val;
    }

    .bg-#{$key} {
        background-color: $val;
    }

    @if($val != black and $val != white){
        // light variations
        @for $i from 1 through 9 {
            .text-#{$key}-light-#{$i} {
                // 2色を混ぜて中間色を返す関数. 第三引数には、第一引数の色の重みを指定
                color: mix(white, $val, $i*10);
            }
            .bg-#{$key}-light-#{$i} {
                // 2色を混ぜて中間色を返す関数. 第三引数には、第一引数の色の重みを指定
                background-color: mix(white, $val, $i*10);
            }
            .text-hover-#{$key}-light-#{$i} {
                &:hover {
                    color: mix(white, $val, $i*10);
                }
            }
        
        }

        // dark variations
        @for $i from 1 through 9 {
            .text-#{$key}-dark-#{$i} {
                // 2色を混ぜて中間色を返す関数. 第三引数には、第一引数の色の重みを指定
                color: mix(black, $val, $i*10);
            }
            .bg-#{$key}-dark-#{$i} {
                // 2色を混ぜて中間色を返す関数. 第三引数には、第一引数の色の重みを指定
                background-color: mix(black, $val, $i*10);
            }
            .text-hover-#{$key}-dark-#{$i} {
                &:hover {
                    color: mix(black, $val, $i*10);
                }
            }
        }
    }
}
